@{ Layout = null;}
<html>

<head>
    <h1>Delete plane</h1>
</head>

<body>
<form method="post" action="Delete">
    <p>
        <label>
            Plane model<br/>
            <input type = "text" name="Model"/>
        </label>
    </p>
    <p>
        <label>
            <input type = "submit" value="Delete"/>
        </label>
    </p>
</form>
</body>

</html>
