@{ Layout = null;}
<html>


<head>
    <meta name="viewport" content="width=device-width" />

    <h1>Welcome to the airplane museum! </h1>
 
</head>

<body>
 
    <ul>
        <li><a href="/Home/GetAll">Watch planes</a></li>
        <li><a href="/Home/LookForPlane">Search plane</a></li>
        <li><a href="/Home/Add">Add plane</a></li>
        <li><a href="/Home/Delete">Delete plane</a></li>
        <li><a href="Home/Statistics">Statistics</a></li>
    </ul>
</body>



</html>