@{ Layout = null;}
<html>

<head>
    <meta name="viewport" content="width=device-width" />
   
        <h1>Enter airplane model</h1>

</head>


<body>
<form method="post" action="LookForPlane">
    <p>
        <label>
            Plane model<br/>
            <input type = "text" name="Model"/>
        </label>
    </p>
    <p>
        <label>
            <input type = "submit" value="Send"/>
        </label>
    </p>
</form>
</body>


</html>