

.airplanae-list {
    background-color: lemonchiffon;
    border: solid 5px darkblue;
    width: 500px;
    padding: 5px;
}

.welcome-list {
    
   
    font-size: 25px;
    background-color:deepskyblue;
    border: solid 5px blue;
    width: 500px;
    padding: 5px;
}

